<div class="main-section">
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="container">
        <div fxFlex.gt-sm="8"></div>
        <div fxFlex.gt-sm="30" class="biography">
            <div class="about_title">BIOGRAPHY</div>
            <p>Innovative frontend developer with 4+ year of experience in building and maintaining responsive website.
               Proficient in HTML, CSS, javascript, Angular and modern library and framework.
            </p>
        </div>
        <div fxFlex.gt-sm="2"></div>
        <div fxFlex.gt-sm="30">
            <mat-card class="bio_card">
                <mat-card-content>
                    <h2> 4 + </h2>
                    <p>Year of Experiance</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex.gt-sm="2"></div>
        <div fxFlex.gt-sm="30">
            <mat-card class="bio_card">
                <mat-card-content>
                    <h2> 8 + </h2>
                    <p>To be part of Projects</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex.gt-sm="8"></div>
    </div>
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex.gt-sm ="8"></div>
        <div fxFlex.gt-sm ="84">
            <div class="about_title mob_margin"> What I Do </div>
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <div fxFlex.gt-sm="49">
                    <mat-card class="skillset_card">
                        <mat-card-content>
                            <mat-icon>web</mat-icon>
                            <p>Implemented websites, mobile applications and landing -page from concept through
                                deployment.</p>
                            <p> Assessed UX and UI designs for technical feasibility.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="2"></div>
                <div fxFlex.gt-sm="49">
                    <mat-card class="skillset_card">
                        <mat-card-content>
                            <mat-icon>important_devices</mat-icon>
                            <p>Standardized all output with a new, responsive, mobile-first approach and strategies.</p>
                            <p>Development of screen as per different resolution of devices.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <div fxFlex.gt-sm="49">
                    <mat-card class="skillset_card">
                        <mat-card-content>
                            <mat-icon>groups_3</mat-icon>
                            <p>Collaboration with product team member to implement new features developments</p>
                            <p>Discussing with team member for better approach.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="2"></div>
                <div fxFlex.gt-sm="49">
                    <mat-card class="skillset_card">
                        <mat-card-content>
                            <mat-icon>bug_report</mat-icon>
                            <p>Fixing Bugs and Errors reported by the Customer.</p>
                            <p>Contributing highly in improving the scalability and performance of the application.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div fxFlex.gt-sm ="8"></div>
    </div>
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex.gt-sm="8"></div>
        <div fxFlex.gt-sm="84">
            <div class="about_title mob_margin"> My Qualification </div>
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <div fxFlex.gt-sm="50">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                        <div fxFlex="20">
                            <div fxLayoutAlign="row" class="mob_qualification">
                                <div fxFlex.gt-sm="40"><mat-icon>school</mat-icon></div>
                                <div fxFlex.gt-sm="60">Education</div>
                            </div>
                        </div>
                        <div fxFlex="80">
                            <mat-stepper orientation="vertical">
                                <mat-step>
                                    <ng-template matStepLabel>Bachelor of Engineering</ng-template>
                                    <ng-template matStepContent>
                                        <p><mat-icon>menu_book</mat-icon> Global Academy of Technology, Bangalore</p>
                                        <p><mat-icon>calendar_month</mat-icon> 2018</p>
                                        <button mat-button matStepperNext>Next</button>
                                    </ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Pre-University</ng-template>
                                    <ng-template matStepContent>
                                        <p><mat-icon>menu_book</mat-icon>RNS PU College, Kundapur</p>
                                        <p><mat-icon>calendar_month</mat-icon>2014</p>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>
                                    </ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>SSLC</ng-template>
                                    <p><mat-icon>menu_book</mat-icon>VKR Acharya Memorial Eng. Medium High School,
                                        Kundapur</p>
                                    <p><mat-icon>calendar_month</mat-icon>2012</p>
                                    <button mat-button matStepperPrevious>Back</button>
                                </mat-step>
                            </mat-stepper>

                        </div>
                    </div>
                </div>
                <div fxFlex.gt-sm="50">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                        <div fxFlex="20">
                            <div fxLayoutAlign="row" class="mob_qualification">
                                <div fxFlex.gt-sm="40"><mat-icon>business_center</mat-icon></div>
                                <div fxFlex.gt-sm="60">Experience</div>
                            </div>
                        </div>
                        <div fxFlex="80">
                            <mat-stepper orientation="vertical">
                                <mat-step>
                                    <ng-template matStepLabel>Utthunga Technologies Pvt. Ltd</ng-template>
                                    <ng-template matStepContent>
                                        <p><mat-icon>person</mat-icon>Software Engineer</p>
                                        <p><mat-icon>calendar_month</mat-icon>March 2025 to July 2025</p>
                                        <p><mat-icon>pin_drop</mat-icon>Bangalore</p>
                                        <button mat-button matStepperNext>Next</button>
                                    </ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Tata Consultancy Services</ng-template>
                                    <ng-template matStepContent>
                                        <p><mat-icon>person</mat-icon>System Engineer</p>
                                        <p><mat-icon>calendar_month</mat-icon>June 2022 to Feb 2024</p>
                                        <p><mat-icon>pin_drop</mat-icon>Bangalore</p>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>
                                    </ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Diverse Lynx India Private Limited</ng-template>
                                    <ng-template matStepContent>
                                        <p><mat-icon>person</mat-icon>BA Associate</p>
                                        <p><mat-icon>calendar_month</mat-icon>June 2021 to June 2022</p>
                                        <p><mat-icon>pin_drop</mat-icon>Remote</p>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>
                                    </ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Sun Plus Software</ng-template>
                                    <p><mat-icon>person</mat-icon>Junior Software Engineer</p>
                                    <p><mat-icon>calendar_month</mat-icon>Apr 2019 - Apr 2021</p>
                                    <p><mat-icon>pin_drop</mat-icon>Bangalore</p>
                                    <button mat-button matStepperPrevious>Back</button>
                                </mat-step>
                            </mat-stepper>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div fxFlex="8"></div>
    </div>
</div>