<div class="main-section">
    <div fxLayout="row">
        <div fxFlex="5"></div>
        <div fxFlex="90"><h1>My Skill Sets</h1>
        </div>
        <div fxFlex="5"></div> 
    </div>
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxHide.lt-md>
        <div fxFlex.gt-sm="5"></div>
        <div fxFlex.gt-sm="90">
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
                <div fxFlex.gt-sm="10"></div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/html.jpg" alt="HTML">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/css.jpg" alt="CSS">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/bootstrap.jpg" alt="Bootstrap">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/javascript.png" alt="JavaScript">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/angular.jpg" alt="Angular">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/typescript.png" alt="Typescript">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/tailwindcss.png" alt="Tailwind">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/react.png" alt="React">
                    </mat-card>
                </div>
                <div fxFlex.gt-sm="10"></div>
            </div>
            <div fxLayout="row">
                <div fxFlex="10"></div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/postman.png" alt="Postman">
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/bitbucket.jpg" alt="Bitbucket">
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/vs-code.jpg" alt="VS Code">
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/github.png" alt="Github">
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/rxjs.jpg" alt="Rxjs">
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/npm.jpg" alt="Npm">
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/git.jpg" alt="Git">
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <mat-card class="skill-card">
                        <img mat-card-image src="'../../../assets/image/angular_material.png" alt="Angular Material">
                    </mat-card>
                </div>
                <div fxFlex="10"></div>
            </div>
        </div>
        <div fxFlex.gt-sm="5"></div> 
    </div>

<!---------------------------Skill Mob View------------------------------------->
    <div fxLayout.lt-md="row" fxHide.gt-sm>
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/html.jpg" alt="HTML">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/css.jpg" alt="CSS">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/bootstrap.jpg" alt="Bootstrap">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/angular.jpg" alt="Angular">
            </mat-card>
        </div> 
    </div>
    <div fxLayout.lt-md="row" fxHide.gt-sm>
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/javascript.png" alt="JavaScript">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/angular_material.png" alt="Angular Material">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/git.jpg" alt="Git">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/github.png" alt="Github">
            </mat-card>
        </div> 
    </div>
    <div fxLayout.lt-md="row" fxHide.gt-sm>
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/npm.jpg" alt="Npm">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/postman.png" alt="Postman">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/rxjs.jpg" alt="Rxjs">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/tailwindcss.png" alt="Tailwind">
            </mat-card>
        </div> 
    </div>
    <div fxLayout.lt-md="row" fxHide.gt-sm>
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/bitbucket.jpg" alt="Bitbucket">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/vs-code.jpg" alt="VS Code">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/bootstrap.jpg" alt="Bootstrap">
            </mat-card>
        </div> 
        <div fxFlex.lt-md="25">
            <mat-card class="skill-card">
                <img mat-card-image src="'../../../assets/image/angular.jpg" alt="Angular">
            </mat-card>
        </div> 
    </div>

    <!------------------------------------------------------------------------------>

    <div fxLayout="row">
        <div fxFlex="5"></div>
        <div fxFlex="90"><h1>Project Details</h1>
        </div>
        <div fxFlex="5"></div>
    </div>
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex="5"></div>
        <div fxFlex="30">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Pollmonk</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>&#8688; Design reusable user interface component in angular with typescript and Es6 feature.</p>
                    <p>&#8688; Involved in creating responsive web page using html5, css3, bootstrap, angular flex-layout.</p>
                    <p>&#8688; Experience in working with angular material component library, font-awesome library.</p>
                    <p>&#8688; Extensively used JavaScript, jQuery to provide UI functionality.</p>
                    <p>&#8688; Experience in working with version control system such as GitHub</p>
                    <p>&#8688; Worked closely with the UI/UX designers to ensure the integrity of the user experience and visual design.</p>
                    <p>&#8688; Optimize applications for maximum performance and scalability.</p>
                    <p> &#8688; Involved in bug fixing in existing software system and also software enhancement</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>

        </div>
        <div fxFlex="30">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>SunAuto Parts</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>&#8688; Developed and designed web page using with html5, css3.</p>
                    <p>&#8688; Involved in creating responsive web page using html5, css3, bootstrap.</p>
                    <p>&#8688; Extensively used JavaScript, jQuery to provide UI functionality.</p>
                    <p>&#8688; Experience in working with version control system such as GitHub</p>
                    <p>&#8688; Worked closely with the UI/UX designers to ensure the integrity of the user experience and visual design.</p>
                    <p>&#8688; Optimize applications for maximum performance and scalability.</p>
                    <p> &#8688; Involved in bug fixing in existing software system and also software enhancement</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>

        </div>
        <div fxFlex="30">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>QR Code</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>&#8688; Design reusable user interface component in angular with typescript and Es6 feature.</p>
                    <p>&#8688; Involved in creating responsive web page using html5, css3, bootstrap.</p>
                    <p>&#8688; Extensively used JavaScript, jQuery to provide UI functionality.</p>
                    <p>&#8688; Experience in working with version control system such as Bitbucket.</p>
                    <p>&#8688; Worked closely with the UI/UX designers to ensure the integrity of the user experience and visual design.</p>
                    <p>&#8688; Optimize applications for maximum performance and scalability.</p>
                    <p> &#8688; Involved in bug fixing in existing software system and also software enhancement</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>

        </div>
        <div fxFlex="5"></div>
    </div><br>
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex="5"></div>
        <div fxFlex="30">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>2Factor Authentication </mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>&#8688; Design reusable user interface component in angular with typescript and Es6 feature.</p>
                    <p>&#8688; Extensively used JavaScript,html5, css3, bootstrap, jQuery to provide UI functionality.</p>
                    <p>&#8688; Experience in working with version control system such as Bitbucket.</p>
                    <p>&#8688; Worked closely with the UI/UX designers to ensure the integrity of the user experience and visual design.</p>
                    <p>&#8688; Optimize applications for maximum performance and scalability.</p>
                    <p> &#8688; Involved in bug fixing in existing software system and also software enhancement</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>

        </div>
        <div fxFlex="30">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>WROS & WRSS</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>&#8688; Design reusable user interface component in angular with typescript and Es6 feature.</p>
                    <p>&#8688; Involved in creating responsive web page using html5, css3, bootstrap, angular flex-layout.</p>
                    <p>&#8688; Experience in working with angular material component library, font-awesome library.</p>
                    <p>&#8688; Extensively used JavaScript, jQuery to provide UI functionality.</p>
                    <p>&#8688; Experience in working with version control system such as GitHub</p>
                    <p>&#8688; Worked closely with the UI/UX designers to ensure the integrity of the user experience and visual design.</p>
                    <p>&#8688; Optimize applications for maximum performance and scalability.</p>
                    <p> &#8688; Involved in bug fixing in existing software system and also software enhancement</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>

        </div>
        <div fxFlex="30">
            <!-- <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card> -->

        </div>
        <div fxFlex="5"></div>
    </div><br>
</div>