<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center center" class="contact_bg" id="contact">
    <div class="column " class="contact_modal">
        <div fxFlex.gt-sm="5" fxFlex.lt-md="5"></div>
        <div fxFlex.gt-sm="90" fxFlex.lt-md="90">
            <mat-form-field class="full-width">
                <mat-label>Enter your name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Enter your Subject</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label> Enter your mail id</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Enter Your Message</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <div>
                <button mat-raised-button mat-dialog-close >Cancel</button>&nbsp;
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </div>
        <div fxFlex.gt-sm="5" fxFlex.lt-md="5"></div>
    </div>
</div>