.header{
  justify-content: space-around;
}
.example-spacer {
    flex: 1 1 300px;
  }
  .nav-link{
    padding: 10px;
    cursor: pointer;
  }
  .fa-brands{
    padding: 10px;
    cursor: pointer;
  }